.footer__wrapper {
  background-color: var(--third-brand-color);
}
.footer {
  padding: 5rem 0 2.5rem;
}
.footer-title {
  color: var(--fourth-brand-color);
  font-size: 1.4rem;
  margin-bottom: .5rem;
  font-family: 'Poppins Medium';
}
.footer-contacts-block,
.footer-policies-block {
  margin-bottom: 1rem;
}
.footer-contacts-subblock {
  padding-left: 2rem;
}
.footer-link {
  color: var(--sub-text-color);
  transition: all var(--transition);
  font-size: 1.3rem;
  font-family: 'Poppins Regular';
}
.footer-link-text {
    color: var(--sub-text-color);
  font-size: 1.3rem;
  font-family: 'Poppins Regular';
}
.footer-link:hover {
  color: var(--border-color);
  text-decoration: underline;
}
.footer-sub-list li span {
   color: var(--sub-text-color);
   font-family: 'Poppins Bold';
    font-size: 1.3rem;
    display: block;
}
.footer-sub-list li {
  position: relative;
}
.footer-sub-list span ~ svg {
  fill: var(--fourth-brand-color);
  display: block;
  width: 2rem;
  height: auto;
  position: absolute;
  top: 0;
  left: -2.2rem;
}
.footer-sub-list .phone-span ~ svg,
.footer-sub-list .address-span ~ svg {
  width: 1.5rem;
}
.footer__span {
   color: var(--sub-text-color);
   font-family: 'Poppins Regular';
    font-size: 1.2rem;
    text-align: center;
    display: block;
}
.footer-top {
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
 .footer-top {
  border-bottom: .1rem solid var(--sub-text-color);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer-contacts-block{
    margin-bottom: 0;
    width: 40%;
}
.footer-policies-block {
    margin-bottom: 0;
    width: 20%;
}
}
