/* PHRASE START */
.phrase__wrapper {
  padding: 4rem 0;
  background-color: var(--third-brand-color);
  text-align: center;
}
.phrase-title {
  color: var(--sub-text-color);
  text-transform: uppercase;
  font-size: 2.1rem;
  font-family: 'Poppins SemiBold';
  letter-spacing: .1rem;
}
/* PHRASE END */
/* QUESTION START */
.question__wrapper {
  background-color: var(--first-brand-color);
}
.question, .policies {
  padding: 4rem 0;
}
.question input, .question-list {
  display: none;
}
.question-title, .policies-title {
  text-transform: capitalize;
  color: var(--third-brand-color);
  font-size: 2.6rem;
  font-family: 'Poppins SemiBold';
  margin-bottom: 2rem;
  line-height: 1;
    text-align: center;
}
.policies-title {
  font-size: 1.5rem;
}
.text-content {
  max-width: 40rem;
  margin: 0 auto;
}
.text-content div {
  border-bottom: .3rem solid var(--sub-text-color);
  padding-bottom: .5rem;
}
.text-content h3 {
    text-transform: capitalize;
  color: var(--third-brand-color);
  font-size: 1.6rem;
  font-family: 'Poppins SemiBold';
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}
.text-content p {
  background-color: var(--sub-text-color);
  padding: 1rem;
  font-size: 1.4rem;
}
/* QUESTION END */
/* POLICIES START */
.policies__wrapper {
  background-color: var(--first-brand-color);
}
.policies-block {
  margin: 0 auto;
  max-width: 61rem;
  padding: 10rem 3rem 3rem;
  background-image: url('../img/bg1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  position: relative;
}
.policies-block::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}
.policies-block p {
    color: var(--sub-text-color);
    max-width: 32rem;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    position: relative;
  
}
.policies-block a {
  position: relative;
  color: var(--second-brand-color);
  font-size: 1.2rem;
  font-family: 'Poppins SemiBold';
  text-transform: uppercase;
    padding: 1rem 3.3rem;
    border: .2rem solid var(--fifth-brand-color);
    border-radius: 4rem;
}
.policies-block a:hover {
  text-decoration: underline;
}
/* POLICIES END */
@media screen and (min-width: 1024px) {
  /* PHRASE START */
 .phrase__wrapper {
  padding: 5rem 0;
}
.phrase-title {
  font-size: 3.2rem;
}
/* PHRASE END */
/* QUESTION START */
.text-content h3 {
  display: none;
}
.question-list {
    display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  min-width: 40%;
}
.question-block {
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
}
.text-content {
    max-width: 100%;
    margin: 0 ;
}
.question-list label {
   transition: background-color var(--transition);
}
#first:checked ~ .question-list label.first,
#second:checked ~ .question-list label.second,
#third:checked ~ .question-list label.third{
  background-color: var(--sub-text-color);
}
.question-list label span {
   color: var(--third-brand-color);
   font-family: 'Noto Sans SemiBold';
   padding: .5rem 1.5rem;
   font-size: 1.6rem;
   display: block;
   border-bottom: .3rem solid var(--sub-text-color);
  
   cursor: pointer;
}
.question-list label:hover  {
  background-color: var(--sub-text-color);
}
.text-content div {
  border: none;
  padding: 0;
}
.text-content p {
    background-color: transparent;
    padding: 0;
    font-size: 1.4rem;
    line-height: 2;
}
.question-block .text{
  display: none;
  min-height: 20rem;
  height: 100%;
  padding: 3rem;
  background-color: var(--sub-text-color);
}

#first:checked ~ .text-content .first,
#second:checked ~ .text-content .second,
#third:checked ~ .text-content .third {
  display: block;
}

#second:checked ~ .text-content .first,
#third:checked ~ .text-content .first{
  display: none;
}
/* QUESTION END */
/* POLICIES START */
.policies-title {
  font-size: 2.4rem;
}
/* POLICIES END */
}
@media screen and (min-width: 1440px) {
 
}
