.prod__wrapper {
    padding-bottom: 5rem;
}
.prod__wrapper-body {
    background-color: var(--first-brand-color);
}
.disable-btn {
    pointer-events: none;
}
.disable-btn svg {
    opacity: 0.3;
}
.prod__img-box {
    margin-bottom: 3rem;
    background-color: var(--main-bg-color);
    position: relative;
    padding: 3rem;
}
.prod__img {
width: 100%;
max-height: 49rem;
object-fit: contain;
}
.prod__block {
    max-width: 50rem;
    margin: 0 auto;
}
.prod__block-right {
    background-color: var(--fifth-brand-color);
    padding: 2.5rem;
}
.prod__title {
    color: var(--third-brand-color);
    font-size: 2.6rem;
    font-family: 'Poppins SemiBold';
}
.prod__block-right .header-stars {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.prod__price-box {
    margin-bottom: 3rem;
}
.prod__price-box p {
    font-family: 'Nunito Sans Bold';
    font-size: 1.6rem;
}
.prod__price-box span {
    color: var(--fourth-brand-color);
    font-family: 'Poppins Medium';
    font-size: 2.2rem;
}
.prod__btns-box {
    display: flex;
    align-items: center;
}
.prod__btns-box span, .prod__size {
    font-size: 1.1rem;
    font-family: 'Poppins SemiBold';
}
.prod__quantity {
  border: .1rem solid var(--light-text-color);
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  width: 6rem;
}
.prod__btn svg {
    width: 2rem;
    fill: var(--main-text-color);
}
.prod__quantity div {
    height: 4.5rem;
    border-left: .1rem solid var(--light-text-color);
    width: calc(50% - .3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prod__amount-span {
    display: flex;
    align-items: center;
    justify-content: center;
       width: calc(50% - .3rem); 
         border-right: .1rem solid var(--light-text-color);
}
.prod__btn {
    color: var(--light-text-color);
    font-family: 'Poppins Bold';
    font-size: 2rem;
    line-height: .9;
    transition: color var(--transition);
    height: 50%;
}
.prod__btn:hover {
    color: var(--fourth-brand-color);
}
.add__btn svg {
    width: 2rem;
    height: auto;
     fill: var(--sub-text-color);
}
.add__btn {
    background-color: var(--fourth-brand-color);
    color: var(--sub-text-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-family: 'Poppins Regular';
    letter-spacing: .1rem;
    line-height: 4.7rem;
    padding: 0 1rem;
    border-radius: .5rem;
}
.add__btn-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}
.prod__text-block p {
    font-size: 1.3rem;
    font-family: 'Noto Sans Regular';
}
.prod__select {
    margin-bottom: 3rem;
    display: inline;
    background-color: transparent;
    padding: 1rem;
     border: .1rem solid var(--light-text-color);
     border-radius: .7rem;
}
.prod__size {
    display: inline;
    margin-right: 1rem;
}

@media screen and (min-width: 1440px) {
    .prod__img-box {
        margin: 0;
        width: 50%;
}
.prod__block {
    max-width: 100%;
    display: flex;
}
.prod__block-right {
    width: 50%;
}
.prod__price-box span {
    font-size: 3.2rem;
}
.prod__btns-box span, .prod__size  {
    font-size: 1.4rem;
}
.prod__quantity {
    width: 8rem;
}
.add__btn-box {
    gap: 1.5rem;
}
.add__btn {
    padding: 0 3rem;
    font-size: 1.5rem;
}
.prod__text-block p {
    font-size: 1.5rem;
}
}