.text-section {
  padding: 5rem 0 15rem;
}
.text-section .container {
  position: relative;
}
.text-section .text {
  margin-bottom: 1.5rem;
}
.text-section .title, .shop-products-title {
  font-family: 'Poppins SemiBold';
  font-size: 1.9rem;
  color: var(--third-brand-color);
  margin-bottom: 3rem;
      border-bottom: .3rem solid var(--third-brand-color);
}
.shop-products-title {
  text-align: left;
  border: none;
}
.text-section .bold {
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Poppins Bold';
}
.text-section .up {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.text-section .italic {
  font-style: italic;
}
.text-section .link,
.link {
  color: var(--accent-color);
  position: relative;
}
.text-section .link:after,
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 0.1rem;
  left: 50%;
  position: absolute;
  background: var(--accent-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.text-section .link:hover:after,
.link:hover:after {
  width: 100%;
  left: 0;
}
.text-section__df {
  display: flex;
  align-items: center;
}
.text-section__mr {
  margin-right: 1rem;
}
.footer__icon {
  fill: var(--fourth-brand-color);
  width: 2rem;
  height: auto;
  margin-right: .5rem;
}
@media screen and (min-width: 768px) {
  .text-section .title, .shop-products-title {
      font-size: 2.6rem;
      padding-bottom: .5rem;
}
}
