html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 1.4rem;
}
​img {
  max-width: 100%;
  display: block;
  height: auto;
}
body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 999999;
}
/* ERROR START */
.error__overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 99999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
body.error-active {
  overflow: hidden;
}
body.error-active .error__overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.error {
  background-color: #fff;
  padding: 2rem;
  max-width: 90%;
  border-radius: 1rem;
  position: relative;
  text-align: center;
}
.error__btn {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1rem;
}
.error__text {
  display: block;
  color: red;
  font-family: var(--main-font);
  margin-bottom: 2rem;
}

/* ERROR END */
.main {
  flex-grow: 1;
  position: relative;
}
.container {
  padding: 0 1.5rem;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
}
.section {
  text-align: center;
}

.btn {
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 4.2rem;
  background-color: gray;
  font-family: 'Poppins SemiBold';
  padding: 0 1.7rem;
  color: var(--sub-text-color);
  background-color: var(--fourth-brand-color);
  transition: background-color var(--transition);
} 
.btn:hover {
   background-color: var(--third-brand-color);
}
.dark-btn {
  background-color: var(--third-brand-color);
}
.dark-btn:hover {
  background-color: var(--fourth-brand-color);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 128rem;
  }
}
